<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <style>
    body,
    html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("/assets/back/back2.jpg");
      min-height: 75%;
    }

    .menu {
      display: none;
    }
  </style>
</head>

<body>


  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-middle w3-center">
      <span class="w3-text-white" style="font-size:90px">the<br>Movies Flix</span>
    </div>
  </header>

  <!-- Add a background color and large text to the whole page -->
  <div class="w3-sand w3-grayscale w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">TERMS & CONDITION</span></h5>

        <p>Moviesflix 2023 is a popular free movie browsing site. Moviesflix lets you play Bollywood,
          Hollywood, Telugu, Tamil, and Malayalam movies for free.</p>

        <p>
          MoviesFlix Service <br><br>

          1.1. You must be at least 18 years of age to become a member of the MoviesFlix service. Minors may only use
          the
          service under the supervision of an adult. <br><br>

          1.2. The MoviesFlix service and any content accessed through the service are for your personal and
          non-commercial
          use only and may not be shared with individuals beyond your household. <br><br>

          1.3. You may access the MoviesFlix content primarily within the country in which you have established your
          account and only in geographic locations where we offer our service and have licensed such content. <br><br>

          Passwords and Account Access <br><br> 
          
          The member who created the MoviesFlix account and whose Payment Method is charged
          (the "Account Owner") is responsible for any activity that occurs through the MoviesFlix account. To maintain
          control over the account and to prevent anyone from accessing the account (which would include information on
          viewing history for the account). <br><br> 
          
          The Account Owner should maintain control over the MoviesFlix ready devices
          that are used to access the service and not reveal the password or details of the Payment Method associated
          with the account to anyone. You are responsible for updating and maintaining the accuracy of the information
          you provide to us relating to your account. <br><br> 
          
          We can terminate your account or place your account on hold in
          order to protect you, MoviesFlix or our partners from identity theft or other fraudulent activity


        </p>





      </div>
    </div>
  </div>